.container {
    width: 80%;
    margin: auto;
    padding-bottom: 15px;
}

.border_bottom {
    border-bottom: 1px solid lightgray;
}

.flex {
    @include flex_justify($justify: space-between);
}

.clear:after {
    content: "";
    display: table;
    clear: both;
}

button {
    cursor: pointer;
}
