.jumbotron {
    @include sections_padding($padding: 30px);
}

%jumbotron_content {
    width: 50%;
    float: left;
}

.btn_secondary {
    width: 100%;
    padding: 10px 0;
    button {
        float: left;
        padding: 10px;
        background-color: MidnightBlue;
        border: 0;
        border-radius: 5px;
        color: white;
        font-family: $stile_caratteri_principale;
        font-size: 15px;
    }
    span {
        float: left;
        margin: 0 15px;
        line-height: 35px;
        font-family: $stile_caratteri_principale;
        color: gray;
    }
}

.left {
    @extend %jumbotron_content;
    h1 {
        color: $colore_principale;
        font-size: 55px;
        font-family: $stile_caratteri_principale;
        font-weight: bold;
    }
    p {
        color: $colore_principale;
        font-family: $stile_caratteri_principale;
        font-size: 25px;
    }
}

.right {
    @extend %jumbotron_content;
    img {
        width: 100%;
        background-size: contain;
    }
}

.background {
    background-color: $background;
}

.traditional {
    @include sections_padding($padding: 100px);
    .traditional_top {
        padding-bottom: $padding_bottom;
        width: 70%;
        margin: auto;
        text-align: center;
        font-family: $stile_caratteri_principale;
        color: $colore_principale;
        font-weight: bold;
        font-size: 20px;
    }
    .traditional_img {
        width: 80%;
        margin: auto;
        @include flex_justify($justify: space-between);
        .img {
            text-align: center;
            height: 150px;
            width: 150px;
            img {
                width: 100%;
            }
            p {
                color: $colore_principale;
                font-family: $stile_caratteri_principale;
            }
        }
    }
    .bunny {
        width: 100%;
        padding-top: 70px;
        .bunny_img {
            width: 25%;
            margin: auto;
            height: 200px;
            img {
                width: 100%;
            }
        }
    }
}

.information {
    @include sections_padding($padding: 100px);
    padding-bottom: 170px;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.info_panel_1 {
    width: 50%;
    .info_img {
        height: 300px;
        img {
            width: 100%;
        }
    }
}

.info_panel_2 {
    width: 30%;
    .info_content {
        h2 {
            font-family: $stile_caratteri_principale;
            color: $colore_principale;
            font-size: 30px;
        }
        p {
            font-family: $stile_caratteri_principale;
            color: $colore_principale;
            font-size: 20px;
        }
        a {
            color: blue;
            text-decoration: none;
            font-family: $stile_caratteri_principale;
            font-size: 25px;
            font-weight: bold;
        }
    }
    .content_img {
        width: 50%;
        margin: auto;
        height: 150px;
        img {
            width: 100%;
        }
    }
}
